footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}

.container, .row.justify-content-center.align-items-center {
    height: 100%;
    min-height: 100%;
}

.form-container {
    height: 80vh !important;
}